<div class="container">
    
    
    <h1 style="font-family: Georgia; font-size: 50px; margin-top: 5%; text-align: center">수정하기</h1>
<form action="/real_update/<%= @one_post.id %>" method="POST">
    
  <div class="form-group">
    <label for="exampleInputEmail1">받는 사람</label>
    <input name="Temail" type="email" value="<%= @one_post.tTitle %>" class="form-control" id="exampleInputEmail1">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">보내는 사람</label>
    <input name="Femail" type="email" value="<%= @one_post.fTitle %>" class="form-control" id="exampleInputEmail2">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail3">제목</label>
    <input name="subject" type="text" value="<%= @one_post.subject %>" class="form-control" id="exampleInputEmail3">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">내용</label>
    <textarea name="content" class="form-control" rows="5" id="comment"><%= @one_post.content %></textarea>
  </div>
  
  <button type="submit" class="btn btn-default">수정</button>
</form>
</div>